/* src/components/ContactUs.css */
@media (max-width: 768px) {
    .contact-icon-info, .contact-us-info {
      padding: 1rem;
    }
  }
  
  @media (min-width: 769px) {
    .contact-icon-info {
      padding: 2rem;
    }
    .contact-us-info {
      margin-bottom: 2rem;
    }
  }
  